<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>DASHMIN - Bootstrap Admin Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    {{!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet"> --}}

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner"
            class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        {{>adminpartials}}



        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
                <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                <form class="d-none d-md-flex ms-4">
                    <input class="form-control border-0" type="search" placeholder="Search">
                </form>
                <div class="navbar-nav align-items-center ms-auto">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-envelope me-lg-2"></i>
                            <span class="d-none d-lg-inline-flex">Message</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="img/user.jpg" alt=""
                                        style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="img/user.jpg" alt=""
                                        style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="img/user.jpg" alt=""
                                        style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item text-center">See all message</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-bell me-lg-2"></i>
                            <span class="d-none d-lg-inline-flex">Notificatin</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Profile updated</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">New user added</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Password changed</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item text-center">See all notifications</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <img class="rounded-circle me-lg-2" src="img/user.jpg" alt=""
                                style="width: 40px; height: 40px;">
                            <span class="d-none d-lg-inline-flex">John Doe</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">My Profile</a>
                            <a href="#" class="dropdown-item">Settings</a>
                            {{#if admin}}
                            <a href="/admin/adminLogin" class="dropdown-item">LogOut</a>
                            {{else}}
                            <a href="/adminLogin" class="dropdown-item">Login</a>
                            {{/if}}

                        </div>
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->


            <!-- Form Start -->
            <div class="container-fluid pt-4 px-4">

                <section>
                    <div class="container t-50%">
                        <div class="row mt-5">
                            <div class="col-md-6">
                                <h2 class="text-center">ADD PRODUCTS</h2>
                                <form action="/admin/addProduct" method="post" enctype="multipart/form-data">
                                    <label for="">Name</label>
                                    <input type="text" name="name" class="form-control" />
                                    <label for="">product Name</label>
                                    <input type="text" name="pname" class="form-control" />
                                    <label for="">Company Name</label>
                                    <input type="text" name="cname" class="form-control" />
                                     <label for="">Brand</label>
                                    <div class="form-floating mb-3">  
                                <select class="form-select" name="brand" id="floatingSelect"
                                    aria-label="Floating label select example">
                                    <option selected>select</option>
                                    {{#each brand}}
                                    <option value="{{this.name}}">{{this.name}}</option>
                                    {{/each}}
                                   
                                </select>
                                <label for="floatingSelect"></label>
                            </div>
                                   
                                      <label for="">category</label>
                                    <div class="form-floating mb-3">  
                                <select class="form-select" name="category" id="floatingSelect"
                                    aria-label="Floating label select example">
                                    <option selected>Select</option>
                                    {{#each category}}
                                    <option value="{{this.name}}">{{this.name}}</option>
                                    {{/each}}
                                   
                                </select>
                                <label for="floatingSelect"></label>
                            </div>
                                      <label for="">subcategory</label>
                                    <div class="form-floating mb-3">  
                                <select class="form-select" name="subcategory" id="floatingSelect"
                                    aria-label="Floating label select example">
                                    <option selected>Select</option>
                                    {{#each subcat}}
                                    <option value="{{this.name}}">{{this.name}}</option>
                                    {{/each}}
                                   
                                </select>
                                <label for="floatingSelect"></label>
                            </div>
                             <label for="">price</label>
                                    <input type="number" name="price" class="form-control" />
                                     <label for="">Discounted Price</label>
                                    <input type="number" name="discountprice" class="form-control" />
                             <label for="">Stock</label>
                                    <input type="number" name="stock" class="form-control" />
                                    {{!-- <label for="">subcategory</label>
                                    <input type="text" name="subcategory" class="form-control" /> --}}



                                    {{!-- <div class="dropdown pt-4">
                                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                            id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                                            Category
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                            <li><button class="dropdown-item" type="button">MEN</button></li>
                                            <input type="text">
                                            <li><button class="dropdown-item" type="button">WOMEN</button></li>
                                            <li><button class="dropdown-item" type="button">KIDS</button>
                                            </li>
                                        </ul>
                                    </div> --}}
                                    <div class="mb-3">
                                        <label for="formFileMultiple" class="form-label">Add your products Main
                                            image</label>
                                        <input class="form-control" type="file" id="file" name="images1" required >
                                    </div>
                                    <div class="mb-3">
                                        <label for="formFileMultiple" class="form-label">Add your products Main
                                            image</label>
                                        <input class="form-control" type="file" id="file" name="images2" >
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleFormControlTextarea1" class="form-label">description
                                        </label>
                                       <input type="text" style="width: 100%;" name="description" class="form-control">
                                    </div>
                                    <label for="">Color</label>
                                    <input type="text" name="colrname" class="form-control" />
                            </div>
                            {{!-- <div class="mb-3">
                                <label for="formFileMultiple" class="form-label">Add your products small image1</label>
                                <input class="form-control" type="file" id="formFileMultiple" multiple> --}}
                                {{!--
                            </div>
                            <div class="mb-3">
                                <label for="formFileMultiple" class="form-label">Add your products small image2</label>
                                <input class="form-control" type="file" id="formFileMultiple" multiple>
                            </div> --}}
                            {{!-- <div class="mb-3">
                                <label for="formFileMultiple" class="form-label">Add your products small image3</label>
                                <input class="form-control" type="file" id="formFileMultiple" multiple>
                            </div> --}}
                            {{!-- <div>
                                <label for="">rate</label>
                                <input type="text" name="rate" class="form-control" />
                            </div> --}}


                            <button type="submit" class="btn btn-success mt-4">Submit</button>
                            </form>
                        </div>
                    </div>
            </div>
            </section>
        </div>
    </div>



    </div>
    <!-- Form End -->


    {{!--
    <!-- Footer Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="bg-light rounded-top p-4">
            <div class="row">
                <div class="col-12 col-sm-6 text-center text-sm-start">
                    &copy; <a href="#">Your Site Name</a>, All Right Reserved.
                </div>
                <div class="col-12 col-sm-6 text-center text-sm-end">
                    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                    Designed By <a href="https://htmlcodex.com">HTML Codex</a>
                </div>
            </div>
        </div>
    </div> --}}
    <!-- Footer End -->
    </div>
    <!-- Content End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/chart/chart.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>