




<!doctype html>
<html lang="zxx">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>aranaz</title>
  <link rel="icon" href="img/favicon.png">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css">
  <!-- animate CSS -->
  <link rel="stylesheet" href="/stylesheets/css/animate.css">
  <!-- owl carousel CSS -->
  <link rel="stylesheet" href="/stylesheets/css/owl.carousel.min.css">
  <!-- nice select CSS -->
  <link rel="stylesheet" href="/stylesheets/css/nice-select.css">
  <!-- font awesome CSS -->
  <link rel="stylesheet" href="/stylesheets/css/all.css">
   <link rel="stylesheet" href="/stylesheets/css/lightslider.min.css">
  <!-- flaticon CSS -->
  <link rel="stylesheet" href="/stylesheets/css/flaticon.css">
  <link rel="stylesheet" href="/stylesheets/css/themify-icons.css">
  <!-- font awesome CSS -->
  <link rel="stylesheet" href="/stylesheets/css/magnific-popup.css">
  <!-- swiper CSS -->
  <link rel="stylesheet" href="/stylesheets/css/slick.css">
  <link rel="stylesheet" href="/stylesheets/css/price_rangs.css">
  <!-- style CSS -->
  <link rel="stylesheet" href="/stylesheets/css/style.css">
</head>

<body>
{{>user-navbar}} 

  <!--================Single Product Area =================-->
   <div class="container mt-5">
  <div class="row">
  <div class="product_image_area section_padding mt-5">
   
      <div class="row s_product_inner justify-content-between">
        <div class="col-lg-8 " >
          <div class="product_slider_img">
            <div id="vertical" >
              <div data-thumb="/uploads/{{response.images.[0].img1}}">
               <img style="height: 550px;width: 550px;" src="/uploads/{{response.images.[0].img1}}" alt="" >
              </div>
               <div data-thumb="/uploads/{{response.images.[0].img1}}">
               <img  style="height: 550px;width: 550px;" src="/uploads/{{response.images.[0].img1}}" alt="">
              </div>
               <div data-thumb="/uploads/{{response.images.[0].img1}}">
               <img  style="height: 550px;width: 551px;" src="/uploads/{{response.images.[0].img1}}" alt="">
              </div>
               <div data-thumb="/uploads/{{response.images.[0].img1}}">
               <img style="height: 550px;width: 550px;" src="/uploads/{{response.images.[0].img1}}" alt="">
              </div>
              
            </div>
          </div>
        </div>
        <div class="col-lg-4 ">
          <div class="s_product_text">
            <h3>{{response.name}}</h3>
            <h2>{{response.price}}</h2>
            <ul class="list">
              <li>
                <a class="active" href="#">
                  <span>Brand</span> : {{response.colour}}</a>
              </li>
              <li>
                <a href="#" class="active">
                   <span>Availibility</span> : {{response.stock}}</a>
              </li>
              <div class="sizes mt-5">
              <h6 class="text-uppercase">Size</h6>
              <label class="radio"> <input type="radio" name="size" value="S" checked> <span>S</span> </label> <label
                class="radio"> <input type="radio" name="size" value="M">
                <span>M</span> </label> <label class="radio"> <input type="radio" name="size" value="L"> <span>L</span>
              </label> <label class="radio"> <input type="radio" name="size" value="XL"> <span>XL</span> </label> <label
                class="radio"> <input type="radio" name="size" value="XXL"> <span>XXL</span> </label>
            </div>
            </ul>
            <p>
              {{response.description}}
            </p>
            <div class="card_area d-flex justify-content-between align-items-center">
             <button onclick="addingToCart('{{response._id}}')"  class="btn_3">+ add to cart</button>
             <button onclick="addingTofav('{{response._id}}')"  style="background-color: transparent; border:none; font-size: 1.5em;" class=""><i class="fa fa-heart-o" aria-hidden="true"></i></button></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!--================End Single Product Area =================-->

  

 

  <!--::footer_part start::-->

{{>footer}}
  <!--::footer_part end::-->
                                    

  <!-- jquery plugins here-->
  
  <!-- jquery -->
   <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="/javascripts/script.js"></script>

  <script src="/javascripts/jquery-1.12.1.min.js"></script>
  <script src=""></script>
  <!-- popper js -->
  <script src="/javascripts/popper.min.js"></script>
  <!-- bootstrap js -->
  <script src="/javascripts/bootstrap.min.js"></script>
  <!-- easing js -->
  <script src="/javascripts/jquery.magnific-popup.js"></script>
  <!-- swiper js -->
  <script src="/javascripts/lightslider.min.js"></script>
  <!-- swiper js -->
  <script src="/javascripts/masonry.pkgd.js"></script>
  <!-- particles js -->
  <script src="/javascripts/owl.carousel.min.js"></script>
  <script src="/javascripts/jquery.nice-select.min.js"></script>
  <!-- slick js -->
  <script src="/javascripts/slick.min.js"></script>
  <script src="/javascripts/swiper.jquery.js"></script>
  <script src="/javascripts/jquery.counterup.min.js"></script>
  <script src="/javascripts/waypoints.min.js"></script>
  <script src="/javascripts/contact.js"></script>
  <script src="/javascripts/jquery.ajaxchimp.min.js"></script>
  <script src="/javascripts/jquery.form.js"></script>
  <script src="/javascripts/jquery.validate.min.js"></script>
  <script src="/javascripts/mail-script.js"></script>
  <script src="/javascripts/stellar.js"></script>
  <!-- custom js -->
  <script src="/javascripts/theme.js"></script>
  <script src="/javascripts/custom.js"></script>
</body>

</html>